body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
header {
    text-align: left;
    padding: 1px 0;
    background-color: #c8d0d6;
    color: white;
    margin-bottom: 10px;
    display: flex;
    gap: 13px;
}
.icon-clavier {
    width: 5vw;
    max-width: 64px;
    min-width: 32px;
    height: auto;
    margin-left: 2rem;
}
.stats-bar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #f3f4f6;
  padding: 8px;
  border-radius: 8px;
  max-width: 600px;
  font-family: Arial, sans-serif;
  margin: 0 auto 20px auto;
}

.stat {
  flex: 1;
  background-color: #c8d0d6;
  padding: 10px 14px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: #1f2937;
}

.stat .label {
  font-weight: 600;
  margin-right: 4px;
}

.stat .value {
  font-weight: bold;
}

.stat.error {
  background-color: #fde8e8;
  color: #b91c1c;
}

.stats{
  display: flex;
}
.keyboard {
    width: max-content;
    margin: 40px auto;
    background: #c8d0d6;
    padding: 20px;
    border-radius: 10px;
}

.row {
    display: flex;
    margin-bottom: 8px;
}

.key {
    background: white;
    border: 1px solid #bbb;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.key:hover {
    background-color: #e0e0e0;
}

.key-wide {
    width: 80px;
}

.key-space {
    width: 300px;
}
